*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Roboto, sans-serif;
}
.container{
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
    
}
header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}
header .container a{
    color: white;
}
header {
    padding:  0 0;
    background-color: blue;
    margin-bottom: 35px;
}


a {
    padding-right: 15px;

}
/*.sobre-loja{
    display: grid;
    grid-template-columns: 0% 30%;
}*/

h3{
    border-bottom: 2.5px solid blue;
    padding-bottom: 10px;
}

.sobre-loja{
    display: grid;
    grid-template-columns: 20% 68%;
    column-gap: 12%;
    padding-bottom: 60px;
}

.sobre-loja p{
    padding: 30 0;
    text-align: justify;
    margin-top: 50px;
}
.produtos{
    padding-bottom: 60px;
    display: grid;
    grid-template-columns: repeat(4,22.75%);
    column-gap: 3%;
    
}

